{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- favicon-->
    <link href="{% static 'apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'favicon-32x32.png' %}" rel="icon" type="image/png" sizes="32x32">
    <link href="{% static 'favicon-16x16.png' %}" rel="icon" type="image/png" sizes="16x16">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <title>Feed - Interlude</title>

    <!-- Add the MDB5 CSS file -->
    <link rel="stylesheet" href="{% static 'mdb.min.css' %}">
</head>

<body>
    <!-- header-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container-fluid">
                
                <!-- Left element -->
                <div class="d-flex align-items-center">
                    <a class="navbar-brand me-5" href="/">
                      <img src="{% static 'INTERLUDE.png' %}" class="rounded me-3" height="35" alt="profile picture" loading="lazy" />
                      Interlude
                    </a>
                    <form action="/search" method="POST" class="d-flex input-group w-auto">
                        {% csrf_token %}
                        <input
                            type="search"
                            name="query"
                            class="form-control rounded me-2"
                            placeholder="Search # or username..."
                            aria-label="Search"
                            aria-describedby="search-addon"
                        />
                        <button type="submit" class="btn btn-outline-warning" data-mdb-ripple-color="dark">
                            <img src="{% static 'search-icon.png' %}" height="15" alt="search icon" loading="lazy" />
                        </button>
                    </form>
                </div>
            
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Make post -->
                    <div class="btn-group dropstart me-4">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
                          Make a Post
                        </button>
                        <div class="dropdown-menu p-3" style="width: 432px;" >
                            <div class="d-flex justify-content-center">
                                <style>
                                    h5{
                                        color: rgb(0, 0, 0);
                                    }
                                </style>
                                {% for message in messages %}
                                <h5>{{message}}</h5>
                                {% endfor %}
                            </div>
                            <form action="upload" method="POST">
                                {% csrf_token %}
                                <h3 class="d-flex justify-content-center">Make a Post</h3>
                                <hr>
                                <div>
                                    <div class="form-outline mb-4 d-flex justify-content-center">
                                        <textarea name="linkyt" id="form3Example4cg" class="form-control form-control-lg"></textarea>
                                        <label class="form-label" for="form3Example4cg">Youtube or Spotify Link</label>
                                    </div>
                                    <br>
                                    <div class="form-outline mb-4 d-flex justify-content-center">
                                        <textarea name="caption" id="form3Example4cg" class="form-control form-control-lg"></textarea>
                                        <label class="form-label" for="form3Example4cg">Caption</label>
                                    </div>
                                    <br>
                                    <button class="d-flex justify-content-center btn btn-dark btn-lg btn-block" type="submit" >Post</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <a class="btn btn-warning me-4" href="/explore" role="button">Explore All</a>
                    <!-- Avatar -->
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="{{user_profile.profileimg.url}}" class="rounded-circle shadow-4-strong" height="35" alt="profile picture" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                            <a class="dropdown-item" href="/profile/{{user_profile.user.username}}">My Profile</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="/settings">Account Settings</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="logout">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content-->
    <section class="vh-auto min-vh-100" style="background-color: #76593b;">
        <div class="container-fluid">
            <div class="p-5 row d-flex justify-content-center align-items-center vh-auto flex-column">
                <!-- post -->
                {% if not posts %}
                <div class="card m-4 vh-auto col-5 p-2 d-flex ">
                    <p>Hi ! You are a new user here ! Your personal feed is empty because you are not following anyone, to follow somebody, go to the searsh bar and type the "#" with the kind of music you like. You can also check the "Explore all" section to see all the post.</p>
                    
                </div>
                {% else %}
                    {% for post in posts|dictsort:"created_at" reversed %}
                    <div class="card m-4 vh-auto col-5 p-2 d-flex">
                        <!-- post header -->
                        <div class="d-flex justify-content-between pb-2">
                            <!-- post header left -->
                            <div>
                                <img src="{{post.userpp.url}}" class="rounded-circle shadow-4-strong ms-1 me-1" height="35" alt="profile picture" loading="lazy" />
                                <a class="link-dark pt-2 pb-2" href="/profile/{{post.user}}"><b>@{{post.user}}</b></a>
                            </div>

                            <!-- post header right -->
                            {% if post.user == user.username %}
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-light" data-mdb-toggle="dropdown" aria-expanded="false">
                                    • • •
                                </button>
                                <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="delete?post_id={{post.id}}">
                                        <button class="btn btn-outline-danger" type="submit"><h8>Delete Post</h8></button>
                                    </a> 
                                </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        <!-- post content -->
                        {% if 'open.spotify.com' in post.linkyt %}
                            <iframe style="border-radius:12px" src="{{post.linkyt}}"
                                    width="100%" height="352" frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                    loading="lazy">
                            </iframe>
                        {% else %}
                            <iframe class="responsive-iframe" height="315" 
                                    src="{{post.linkyt}}" title="YouTube video player" frameborder="0"
                                    style="border-radius: 10px; overflow: hidden;"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                            </iframe>
                        {% endif %}
                        <div class="d-flex justify-content-between pt-2">
                            <!-- post caption -->
                            <p class="pt-2" style="margin-bottom: 0;">
                                <a class="link-warning ms-1" href="/profile/{{post.user}}"><strong>{{post.user}}</strong></a> {{post.caption}}
                            </p>
                            <!-- post likes -->
                            <a href="/like-post?post_id={{post.id}}" class="d-flex align-items-center">
                                <div class="p-1 rounded-full text-black" style="flex-direction: row;display: flex;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="pt-2" style="margin-right: 7px;">
                                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                    </svg>
                                    {% if post.no_of_likes == 0 %}
                                    <p class="fw-bolder pt-1" style="margin-bottom: 0;">0 like</p>
                                    {% elif post.no_of_likes == 1 %}
                                    <p class="fw-bolder pt-1" style="margin-bottom: 0;">{{post.no_of_likes}} like</p>
                                    {% else %}
                                    <p class="fw-bolder pt-1" style="margin-bottom: 0;">{{post.no_of_likes}} likes</p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        <!-- post comments -->
                        <hr>
                        <form action="/comment-post?post_id={{post.id}}" method="POST" class="d-flex input-group w-auto pb-1">
                            {% csrf_token %}
                            <input
                                type="search"
                                name="comment"
                                class="form-control rounded me-2"
                                placeholder="Leave a comment..."
                                aria-label="Search"
                                aria-describedby="search-addon"
                            />
                            <button type="submit" class="btn btn-outline-warning" data-mdb-ripple-color="dark">
                                <img src="{% static 'comment-icon.png' %}" height="20" alt="comment icon" loading="lazy" />
                            </button>
                        </form>
                        {% for comment in post.comments.all|dictsort:"created_at" reversed %}
                            <div class="d-flex justify-content-between align-items-center p-1">
                                <div>
                                    <img src="{{comment.userpp.url}}" class="rounded-circle shadow-4-strong" height="30" alt="profile picture" loading="lazy" />
                                    <a class="pt-2 pb-2" style="color: #be7200;" href="/profile/{{comment.user}}"><strong>{{comment.user}}</strong></a> {{comment.content}}
                                </div>
                                {% if comment.user == user.username %}
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-light" data-mdb-toggle="dropdown" aria-expanded="false">
                                        • • •
                                    </button>
                                    <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <a href="delete-comment?id={{comment.id}}">
                                            <button class="btn btn-outline-danger" type="submit"><h8>Delete Comment</h8></button>
                                        </a> 
                                    </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <hr>
                        <!-- post creation date -->
                        <div class="d-flex justify-content-end">
                            <p style="margin-bottom: 0px;">Posted {{ post.created_at }}</p>
                        </div>

                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright By Interlude
        </div>
    </footer>

    <!-- Add the MDB5 JS files -->
    <script src="{% static 'mdb.min.js' %}"></script>
</body>

</html>